/* add home page styles here */
.toggle {
    color: red;
}

#background {
    background-color: rgb(233, 191, 24);
}

#container {
    background-color: white;
}

#list-background {
    background-image: url("../assets/vegetables.jpeg");
    background-size: 50%;
}

#title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#witch {
    width: 80%;
}

